body{
    font-family: Arial;
    margin:auto;
    height:100%;
    width:100%;
    overflow:hidden;
}



#brackets{
    margin: 100px auto auto 25%;
    font-size: 1300%;
    display:inline-block;
    text-align: center;

}

#words{
    margin: 100px -30px auto 10px;
    display:inline-block;
    text-align: center;
    font-size: 370%;
}

#name{
    font-size: 200%;
    font-weight: bold;
    display:inline-block;
    margin-top:-80px;
}

#tag{
    font-size: 55%;
    margin-top: -40px;

}

#contact{
    float:right;
    margin: 200px auto;
}

#content2{
    height:800px;
    width:100%;
}
#boxContent{

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}
.spacer{
    margin-bottom: 100px;
}

.infoMain{

    height: 300px;
    border: 0px solid lightgrey;
    border-radius: 4px;
    margin: 0px 20px 0px 20px;
    text-align: center;
}

#box-1 {
    font-weight: bold;
    font-size: 200%;
    padding-top:30px;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}

#box-2 {
    font-weight: bold;
    font-size: 200%;
    padding-top:30px;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}

#box-3 {
    font-weight: bold;
    font-size: 200%;
    padding-top:30px;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}

.infoPic{
    margin-top:20px;
    height:150px;
    width: 150px;

}

.wide{
    width:200px;
}